stages:
  - lint
  - test
  - build

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

default:
  image: python:3.12-slim
  tags:
    - SN-runner
  cache:
    key: "$CI_COMMIT_REF_SLUG" # Cache per branch
    paths:
      - "$PIP_CACHE_DIR"
  before_script:
    - pip install -r requirements.txt

lint:
  stage: lint
  script:
    - isort src tests --check
    - black src tests --check
    - flake8 src tests
    - mypy src
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

tests:
  stage: test
  script:
    - pytest --cov=src --cov-report=xml:coverage.xml --cov-report=html:coverage_html --cov-report=term
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - coverage.xml
      - .coverage
      - coverage_html 
    expire_in: 7 days

# build-docker-image:
#   stage: build
#   image:
#     name: gcr.io/kaniko-project/executor:v1.14.0-debug
#     entrypoint: [""]
#   tags:
#     - SN-runner

#   script:
#     - /kaniko/executor
#       --context "${CI_PROJECT_DIR}"
#       --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
#       --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
#   only:
#     - main
#     - merge_requests