[tool.mypy]
ignore_missing_imports = true

[tool.coverage.run]
source = ["livecov"]
omit = [
    "src/tests/*",
    "src/__init__.py",
    "src/logger.py",
    "src/satellite_visualisation/*",
]

[tool.pytest.ini_options]
addopts = "--cov-report xml:cov.xml --cov src"
testpaths = ["tests"]
log_cli = true
log_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
